/.DS_Store
/.idea
/.vscode
/Icon
Other Research/Matheou Source Code/.DS_Store
Other Research/Matheou Source Code/bin/.DS_Store
Other Research/Matheou Source Code/bin/fft.o
Other Research/Matheou Source Code/bin/get.o
Other Research/Matheou Source Code/bin/input.param
Other Research/Matheou Source Code/bin/io.o
Other Research/Matheou Source Code/bin/job.sh
Other Research/Matheou Source Code/bin/main.o
Other Research/Matheou Source Code/bin/Makefile
Other Research/Matheou Source Code/bin/out.txt
Other Research/Matheou Source Code/bin/param.o
Other Research/Matheou Source Code/bin/qgaus.o
Other Research/Matheou Source Code/bin/rhs.o
Other Research/Matheou Source Code/bin/sgs.o
Other Research/Matheou Source Code/bin/sgspec.o
Other Research/Matheou Source Code/bin/slurm-1355528.out
Other Research/Matheou Source Code/bin/slurm-1355536.out
Other Research/Matheou Source Code/bin/slurm-1355541.out
Other Research/Matheou Source Code/bin/slurm-6977874.out
Other Research/Matheou Source Code/bin/slurm-7057716.out
Other Research/Matheou Source Code/bin/spec.o
Other Research/Matheou Source Code/bin/stat.o
Other Research/Matheou Source Code/bin/stratos.les
Other Research/Matheou Source Code/bin/timemarch.o
Other Research/Matheou Source Code/bin/vars.o
Other Research/Matheou Source Code/src/fft.c
Other Research/Matheou Source Code/src/fft.h
Other Research/Matheou Source Code/src/get.c
Other Research/Matheou Source Code/src/get.h
Other Research/Matheou Source Code/src/input.param
Other Research/Matheou Source Code/src/io.c
Other Research/Matheou Source Code/src/io.h
Other Research/Matheou Source Code/src/main.c
Other Research/Matheou Source Code/src/Makefile
Other Research/Matheou Source Code/src/param.c
Other Research/Matheou Source Code/src/param.h
Other Research/Matheou Source Code/src/qgaus.c
Other Research/Matheou Source Code/src/qgaus.h
Other Research/Matheou Source Code/src/rhs.c
Other Research/Matheou Source Code/src/rhs.h
Other Research/Matheou Source Code/src/sgs_2.c
Other Research/Matheou Source Code/src/sgs.c
Other Research/Matheou Source Code/src/sgs.h
Other Research/Matheou Source Code/src/sgspec.c
Other Research/Matheou Source Code/src/sgspec.h
Other Research/Matheou Source Code/src/spec.c
Other Research/Matheou Source Code/src/spec.h
Other Research/Matheou Source Code/src/stat.c
Other Research/Matheou Source Code/src/stat.h
Other Research/Matheou Source Code/src/timemarch.c
Other Research/Matheou Source Code/src/timemarch.h
Other Research/Matheou Source Code/src/vars.c
Other Research/Matheou Source Code/src/vars.h
